$primaryBgColor: #ffffff;
$primaryAccentColor: #047fa9;
$primaryTextColor: #515151;
$primaryLinkColor: #047fa9;
$topBarBgColor: #222222;
$bottomBarBgColor: #3b3b3b;
$bottomBarTextColor: #888888;


$menuBgColor: rgba(255,255,255,0.9);
$menuButtonBgColor: #b9b9b9;
$menuRolloverBgColor: #047fa9;
