$primaryBgColor: #ffffff;
$primaryAccentColor: #047fa9;
$primaryTextColor: #515151;
$primaryLinkColor: #047fa9;
$topBarBgColor: #222222;
$bottomBarBgColor: #3a3a3a;
$bottomBarTextColor: #8e8e8e;

$menuBgColor: rgba(255,255,255,0.95);
$menuBorderColor: #b9b9b9;

$menuButtonBgColor: $menuBorderColor;
$menuButtonBgHoverColor: #999999;
$menuButtonTextColor: #333333;
$menuButtonTextHoverColor: #e0e0e0;

$menuItemTextColor: #222222;
$menuItemTextHoverColor: #ffffff;
$menuItemBgHoverColor: #047fa9;

$menuSubheadBgColor: rgba(63,63,63,0.2);
$menuSubheadBgHoverColor: darken($menuItemBgHoverColor, 10%);
$menuSubheadTextColor: #666666;
$menuSubheadTextHoverColor: #e0e0e0;

$bottomNavColor: #e7e7e7;
$bottomNavHoverColor: lighten($primaryLinkColor, 10%);

$headlineAccentColor: #006da4;
$pageHeaderBgColor: #a5d3e5;

$floatingMenuSelectedColor: #444444;
$floatingMenuSelectedBgColor: rgba(255,255,255,0.50);