#contentContainer {
    
  .contentItem {
    
    section {
      //FIXME: Change on media breakpoint
      display: block;
      position: relative;
      top: 0;
      left: 0;
      min-width: $minWidthLarge;
      margin: 0;
    }
    
    article {
      // @include span-columns(8);
      padding: 0 $contentPadding;
      max-width: $maxWidthLarge;
      margin: 0 auto;
      * {
        max-width: $maxWidthLarge;
      }
      p {
        margin-bottom: 1em;
        &:last-child {
          margin: 0;
        }
      }
      &:first-child {
        padding-top: $contentPadding;
      }
      &:last-child {
        padding-bottom: $contentPadding;
      }
      @include clearfix;
    }
    
    aside {
      display: block;
      padding: 10px;
      margin: 0px;
      border-radius: 10px;
      border: 1px solid $sidebarBorderColor;
      padding: $edgePadding;
      background-color: $sidebarBgColor;
    }
    
    hr {
      display: block;
      border: 0;
      background: url('../content/images/content-divider.png') no-repeat top center;
      height: 40px;
      overflow: hidden;
      width: 100%;
      margin: 0 0 1em 0;
    }
    
    .imageHeader {
      padding: 20px 480px $contentPadding $contentPadding;
      min-height: 200px;
    }
    
    .pageHeader {
      display: block;
      width: 100%;
      margin: 0;
      height: 162px;
      max-height: 162px;
      overflow: hidden;
      background: $pageHeaderBgColor url('../content/images/page_header_bg.png') no-repeat top left;
      article {
        padding: 0 $contentPadding;
      }
      .chevrons {
        display: block;
        width: 200px;
        height: 35px;
        margin-top: 6px;
        margin-left: -$contentPadding;
      }
    }
    
    .pageBand {
      display: block;
      width: 100%;
      background-color: lighten($pageHeaderBgColor, 15%);
      article {
        padding: $contentPadding/2;
      }
    }
    
    .brainsharkWrapper {
      width: 450px;
      height: 375px;
      overflow: hidden;
      float: right;
      margin-left: $contentPadding;
      margin-bottom: 1em;
      border: 1px solid $sidebarBorderColor;
      background: $sidebarBgColor;
      iframe {
        width: 100%;
        height: 100%;
        border: none;
        overflow: hidden;
      }
    }
    
    .spaceBelow {
        margin-bottom: 2em;
    }
    
    .floatingMenu {
      position: fixed;
      margin: 0;
      padding: 0;
      z-index: 5;
      right: $menuWidth + $menuRightPos + 12px;
      top: $topBarHeight;
      min-width: 220px;
      a {
        display: inline-block;
        position: relative;
        top: 0;
        overflow: hidden;
        height: 22px;
        line-height: 22px;
        margin: 0;
        padding: 0 8px;
        font-size: 12px;
        // text-transform: uppercase;
        text-align: center;
        color: $menuButtonTextColor;
        background-color: $menuButtonBgColor;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        @include border-bottom-radius(6px);
        -webkit-backface-visibility: hidden; // fix for mysterious flicker on transitions
        @include transition (all 0.15s ease-in-out);
        &:not([class*="selected"]):not([class*="no-hover"]):hover {
          background-color: $menuButtonBgHoverColor;
          color: $menuButtonTextHoverColor;
          cursor: pointer;
        }
        &:not([class*="selected"]):not([class*="no-hover"]):active {
          background-color: lighten($menuButtonBgHoverColor, 20%);
        }
        &.selected {
          color: $floatingMenuSelectedColor;
          background-color: $floatingMenuSelectedBgColor;
          cursor: default !important;
        }
      }
    }
    
    .accordion {
       margin: 1em $contentPadding $contentPadding $contentPadding;
       border-radius: 10px;
       overflow: hidden;
       box-shadow: 0 0 10px rgba(0,0,0,0.35);
       dt {
         margin-bottom: 1px;
         > a {
           padding: 0.75em;
           display: block;
           color: darken($accordionHeaderBgColor, 80%);
           background-color: $accordionHeaderBgColor;
           // border-bottom: 1px solid $accordionBorderColor; 
           &:hover {
             color: lighten($accordionHeaderBgColor, 80%);
             background-color: darken($accordionHeaderBgColor, 10%);
           }
           
         }
       }
      dd {
        padding: 0.75em;
        margin: 0;
        border-top: 0; 
        font-size: 12px;
        //FIXME: Responsive media query
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: darken($primaryBgColor, 5%);
        &:last-of-type {
          position: relative;
          @include border-bottom-radius(10px);
        }
      }
    }

    .approachPage {
      section {
        #exemplars, #moreinfo {
          display: none;
        }
        hr + article {
          margin-top: 1em;
        }
      }
      hr.subDivider {
        height: 1px !important;
        padding: 0;
        margin: 2em 0;
      }
    }
    
    // ================================
    // == Page-specific ===============
    // ================================
    
    #intro {
      .imageHeader {
        background: url('../content/images/banner_intro.png') no-repeat bottom right;
      }
      aside {
        width: 35%;
        float: right;
        margin-left: $contentPadding * 1.5;
      }
    }
    
    &.scrtei     .chevrons {background: url('../content/images/chevrons_1-7.png') no-repeat top left !important;}
    &.essays     .chevrons {background: url('../content/images/chevrons_2-7.png') no-repeat top left !important;}
    &.tasks      .chevrons {background: url('../content/images/chevrons_3-7.png') no-repeat top left !important;}
    &.demos      .chevrons {background: url('../content/images/chevrons_4-7.png') no-repeat top left !important;}
    &.projects   .chevrons {background: url('../content/images/chevrons_5-7.png') no-repeat top left !important;}
    &.portfolios .chevrons {background: url('../content/images/chevrons_6-7.png') no-repeat top left !important;}
    &.games      .chevrons {background: url('../content/images/chevrons_7-7.png') no-repeat top left !important;}
    
    // Initially hide exemplars and more info sections
    section#exemplars, section#moreinfo {
      display: none;
    }
    
  }
  
  
  // ================================
  // == Brad Port ===================
  // ================================
  
  p, li {
    margin-top: 0;
    font-size: 12px;
    line-height: 1.6em;
    color: #666;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #666666;
    font-weight: normal;
  }
  
  h1, h2, h3, h4 {
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
  }
  
  h1 {
    font-size: 30px;
    line-height: 36px;
    color: $headlineAccentColor;
  }
  
  p + h2, ul + h2 {
    margin-top: 2em;
  }
  
  h2 {
    font-size: 20px;
    line-height: 1.2em;
  }
  
  h3 {
    font-size: 14px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 12px;
    font-weight: bold;
  }
  
  h5 {
    font-size: 12px;
    font-weight: bold;
  }
  
  h6 {
    font-size: 9px;
  }
  
  li {
    line-height: 16px;
    font-size: 11px;
  }
  
  /* Set the content dimensions */
  
  #content {
    width: 100%;
    padding: 10px 50px;
    margin: 0 auto;
    display: block;
  }
  
  #col_1 {
    width: 580px;
    float:left;
    margin-right:10px;
  }
  
  #col_2 {
    width: 300px;
    float:left;
    margin-left:10px;
  }
  
  #col_3 {
    width: 700px;
    float:left;
    margin-right:10px;
  }
  
  #content h2 {
    line-height: 32px;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  #bandbar {
    margin: 0px -380px 0px -50px ;
    padding: 10px 380px 10px 50px ;
    background-color:rgba(0,153,255,.15);
  }
  
  /* Style the images */
  
  img.inline {
    position: relative;
    display: block;
    border: 1px solid #333;
    margin: 5px 0 10px 0;
  }
  
  /* Header/footer boxes */
  
  .banner {
    clear: both;
    text-align: left;
    margin: 0px;
    padding: 0px;
    max-height: 200px;
  }
  
  .banner h1 {
    padding: 20px 20px 20px 40px;
    margin: 0px 200px 40px 0px;
    color: #000000;
    font-size: 32px;
    line-height: 32px;
    font-weight:normal;
  }
  
  // a:link {
    // color: #333333;
  // }

}
