$max-width: 100%;
$edgePadding: 22px;

$topBarHeight: 45px;
$bottomBarHeight: 45px;

$menuWidth: 205px;
$menuButtonHeight: 30px;
$menuPos: $edgePadding - 6;
$menuItemLeftPadding: $menuPos;

$contentPadding: 45px;
$maxWidthLarge: 1100px;
$minWidthLarge: 960px;
