@import "boilerplate";
@import "../bourbon/bourbon";
@import "normalize";
@import "variables";
@import "colors";
@import "opensans";
@import "iconfont";
// @import "../neat/neat";

* {
  // Imported in main doc via Google webfonts
  font-family: 'Open Sans', serif;
  // taken from Neat ------------
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // ----------------------------
}

a {
  text-decoration: none;
  color: $primaryLinkColor;
  &:hover {
    color: lighten($primaryLinkColor, 10%);
  }
  &:active {
    outline: none;
  }
}

.wrapper {
  // @include outer-container;
  overflow: hidden;
  font-size: 13px;
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: $topBarHeight;
    background-color: $topBarBgColor;
    @include background-image(url("../images/pearson-logo-transparent.png"), url("../images/alwayslearning-logo-transparent.png"));
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
  }

  nav {
    position: fixed;
    top: $topBarHeight;
    width: $max-width;
    z-index: 90;
    display: block;
    
    #menuWrapper {
      position: relative;
      float: right;
      width: $menuWidth;
      * {
        padding: 0;
        margin: 0;
      }
      #menuButton {
        display: block;
        position: fixed;
        top: $topBarHeight;
        right: $edgePadding - 2;
        z-index: 80;
        width: $menuWidth;
        height: $menuButtonHeight;
        line-height: 30px;
        padding-left: $edgePadding;
        color: $menuButtonTextColor;
        text-transform: uppercase;
        // font-weight: bold;
        background-color: $menuButtonBgColor;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        @include border-bottom-radius(8px);
        @include transition (all 0.25s ease-in-out);
        -webkit-backface-visibility: hidden; // fix for mysterious flicker on transitions
        .no-touch &:hover {
          background-color: $menuButtonBgHoverColor;
          color: $menuButtonTextHoverColor;
        }
        &.open {
          box-shadow: none;
          @include border-bottom-radius(0px);
          @include transition (all 0.25s ease-in-out);
        }
      }
      ul {
        display: block;
        position: fixed;
        top: $topBarHeight;
        right: $menuRightPos;
        max-height: 300px;
        z-index: 70;
        width: $menuWidth;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: $menuBgColor;
        @include border-bottom-radius(8px);
        font-size: 0.9em;
        padding: $menuButtonHeight 0 8px 0;
        border: 1px solid $menuBorderColor;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        line-height: 1.1em;
        @include transform(translateY(0));
        @include transition (all 0.25s ease-in-out);
        -webkit-backface-visibility: hidden; // fix for mysterious flicker on transitions
        &.closed {
          @include transform(translateY(-300px)); // must be a bit taller than menu height
        }
        // display: none;
        li {
          list-style: none;
          a {
            @include transition (all 0.15s ease-in-out);
            display: block;
            color: $menuItemTextColor;
            padding: 4px 4px 4px $edgePadding;
            &:hover {
              cursor: pointer;
              color: $menuItemTextHoverColor;
              @include transition (all 0.25s ease-in-out);
              background-color: $menuItemBgHoverColor;
            }
            &.currentPage {
              // font-style: italic;
              // background-color: desaturate(lighten($menuItemBgHoverColor, 50%), 50%);
              // border-top: 1px solid lighten($menuBorderColor, 20%);
              // border-bottom: 1px solid lighten($menuBorderColor, 5%);
              box-shadow: 0 0 6px rgba(0,0,0,0.2);
              padding: 2px 6px 2px $edgePadding - 6px;
              margin: 2px 0;
              &:before {
                content: "\203A \00a0";
              }
            }
            &.subhead {
              color: $menuSubheadTextColor;
              text-transform: uppercase;
              background-color: $menuSubheadBgColor;
              margin: 4px 0;
              &:hover {
                color: $menuSubheadTextHoverColor;
                background-color: $menuSubheadBgHoverColor;
              }
            }
            &.currentPage.subhead {
              box-shadow: 0 0 6px rgba(0,0,0,0.7);
              // border-top: 1px solid $menuBorderColor;
              // border-bottom: 1px solid darken($menuBorderColor, 20%);
            }
          }
        }
      }
    }
  }
  
  
  
  // ================================
  // == Content Wrapper =============
  // ================================
  
  #contentContainer, #contentLoading {
    position: fixed;
    top: $topBarHeight;
    bottom: $bottomBarHeight;
    left: 0;
    right: 0;
    overflow-x: none;
    overflow-y: auto;
  }
  
  #contentLoading {
    text-align: center;
    line-height: 100%;
    color: #ccc;
  }
  
  // ================================
  // == Footer ======================
  // ================================
  
  footer {
    // @include row();
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $bottomBarBgColor;
    padding-left: $edgePadding;
    height: $bottomBarHeight;
    line-height:  $bottomBarHeight;
    .bottomNav {
      display: block;
      position: fixed;
      z-index: 100;
      font-size: 30px;
      a {
        display: inline-block;
        width: 30px;
        border-radius: 6px;
        text-align: center;
        color: $bottomNavColor;
        margin: 0;
        @include transition (all 0.15s ease-in-out);
        &:not([class*="disabled"]):not([class*="no-hover"]):hover {
          color: $bottomNavHoverColor;
          cursor: pointer;
          text-shadow: 1px 3px rgba(0,0,0,0.5);
          @include transform(translateY(-1px));
        }
        &:not([class*="disabled"]):not([class*="no-hover"]):active {
          color: darken($bottomNavHoverColor, 10%);
          text-shadow: 1px 1px rgba(0,0,0,0.5);
          @include transform(translateY(0px));
        }
        &.disabled {
          color: darken($bottomNavColor, 50%);
        }
      }
    }
    #pageNav {
      width: 90px;
      margin-left: -45px;
      bottom: 0;
      left: 50%;
    }
    #socialNav {
      font-size: 20px;
      bottom: 0;
      right: $edgePadding;
      a {
        color: $bottomBarTextColor;
        width: 20px;
        margin-left: 4px;
        &:not([class*="no-hover"]):hover {
          cursor: pointer;
          color: $bottomNavColor;
        }
      }
    }
    #copyright {
      color: $bottomBarTextColor;
      font-size: 0.8em;
      letter-spacing: 0.05em;
    }
  }
  
  .disabled {
    cursor: default !important;
  }
  
}

@import "content";

