@charset "UTF-8";
/* CSS Document */
/* Add some margin to the page and set a default font and colour */
/* line 5, ../sass/styles.scss */
#contentContainer {
  /* Set the content dimensions */
  /* Style the images */
  /* Header/footer boxes */
}
/* line 7, ../sass/styles.scss */
#contentContainer p, #contentContainer li, #contentContainer body {
  margin: 0px;
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  padding-bottom: 10px;
  color: #666;
}
/* line 17, ../sass/styles.scss */
#contentContainer h1, #contentContainer h2, #contentContainer h3, #contentContainer h4, #contentContainer h5, #contentContainer h6 {
  margin: 0px;
  color: #666666;
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}
/* line 25, ../sass/styles.scss */
#contentContainer h1 {
  font-size: 30px;
  line-height: 36px;
  color: #006da4;
}
/* line 31, ../sass/styles.scss */
#contentContainer h2 {
  font-size: 30px;
  line-height: 42px;
  padding: 10px 0px;
}
/* line 37, ../sass/styles.scss */
#contentContainer h3 {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 43, ../sass/styles.scss */
#contentContainer h4 {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 50, ../sass/styles.scss */
#contentContainer h5 {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
}
/* line 56, ../sass/styles.scss */
#contentContainer h6 {
  font-size: 9px;
  color: #666666;
}
/* line 61, ../sass/styles.scss */
#contentContainer li {
  line-height: 16px;
  font-size: 11px;
}
/* line 68, ../sass/styles.scss */
#contentContainer #content {
  width: 900px;
  padding: 10px 50px;
  margin: 0 auto;
  display: block;
}
/* line 75, ../sass/styles.scss */
#contentContainer #col_1 {
  width: 580px;
  float: left;
  margin-right: 10px;
}
/* line 81, ../sass/styles.scss */
#contentContainer #col_2 {
  width: 300px;
  float: left;
  margin-left: 10px;
}
/* line 87, ../sass/styles.scss */
#contentContainer #col_3 {
  width: 700px;
  float: left;
  margin-right: 10px;
}
/* line 93, ../sass/styles.scss */
#contentContainer #content h2 {
  line-height: 32px;
  font-size: 20px;
  text-transform: uppercase;
}
/* line 99, ../sass/styles.scss */
#contentContainer #bandbar {
  margin: 0px -380px 0px -50px;
  padding: 10px 380px 10px 50px;
  background-color: rgba(0, 153, 255, 0.15);
}
/* line 107, ../sass/styles.scss */
#contentContainer img.inline {
  position: relative;
  display: block;
  border: 1px solid #333;
  margin: 5px 0 10px 0;
}
/* line 116, ../sass/styles.scss */
#contentContainer .banner {
  clear: both;
  text-align: left;
  margin: 0px;
  padding: 0px;
  max-height: 200px;
}
/* line 124, ../sass/styles.scss */
#contentContainer .banner h1 {
  padding: 20px 20px 20px 40px;
  margin: 0px 100px 40px 0px;
  color: #000000;
  font-size: 32px;
  line-height: 32px;
  font-weight: normal;
}
/* line 133, ../sass/styles.scss */
#contentContainer a:link {
  color: #333333;
}
